<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog do Rafael</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<h1 class="mt-5 mb-2">Olá, Visitante</h1>
		<p>
    <div class="border shadow text-center p-2 mb-3">
			<strong>Você pode conferir algumas noticias</strong> <p><strong> <a href= "/noticias">"cliclando aqui".</a></div></p></strong> 
		</p>

		
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js">
    </script>
</body>
</html>