<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog do Rafael</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<h1 class="mt-5 mb-2">Aba de noticias</h1>

		<p>
   As maiores noticias da semana você pode conferir somente aqui no site do Rafael :)
		</p>

    <p>
    <div class="border shadow text-center p-2 mb-3">
			<a href= "/noticias/01">Bombeiros salvam gatinho de arvore.</a></div>
    </p>

    <p>
			<a href= "/">Pagina inicial</a>
    </p>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js">
    </script>
</body>
</html>